input {
  height: 20px;
  width: 400px;
  padding: 20px;
  font-size: 20px;
}
.errorMessaging {
  display: none;
}

.drinkContainer {
  display: flex;
  border: 1px solid green;
  flex-wrap: wrap;
  padding: 15px;
}

.drinkItem {
  width: 300px;
  height: auto;
  border: 1px solid blue;
  word-wrap: break-word;
  padding: 50px;
  justify-content: space-evenly;
}

.drinkName {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}

.drinkRecipe {
  font-size: 1.2em;
  line-height: 1em;
}

.drinkThumbnail {
  width: 200px;
  height: 200px;
}
